<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container">
      <% if(defaultcity !== null){ %>
        <h2>Default City: <%= defaultcity %></h2>
      <% } %>
      <fieldset>
        <form action="/" method="post">
          <input name="city" type="text" class="ghost-input" placeholder="Enter a City" required>
          <input type="submit" class="ghost-button" value="Get Weather">
          <!-- <input type="submit" class="ghost-button" value="Get Default Weather"> -->
        </form>
        <% if(weather !== null){ %>
          <p><%= weather %></p>
        <% } %>
        <% if(error !== null){ %>
          <p><%= error %></p>
        <% } %>
      </fieldset>
    </div>
    <div class="container">
      <fieldset>
        <h2>Save a Default City</h2>
        <form action="/defaultcity/" method="post">
          <input name="defaultcity" type="text" class="ghost-input" placeholder="Enter a Default City" required>
          <input type="submit" class="ghost-button" value="Save City">
        </form>
        <% if(defaultcitymessage !== null){ %>
          <p><%= defaultcitymessage %></p>
        <% } %>
      </fieldset>
    </div>
  </body>
</html>
